.layout{
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 10px;
	padding: 10px;
}

h1{
	text-align: center;
}

#update{
	margin-top: 50px;
	margin-right: 5px;
}

#weather{
	margin-top: 10px;
	margin-bottom: 2px;
}

#eventInfo{
	text-align: center;
	width: 75%;
	margin: auto;
	border-style: solid;

}

#updateMessage{
	color: #FF0000;
}

#refresh{
	margin-top: 5px;
	text-align: right;
}

div > div {
	padding: 5px;
	text-align: left;
}

label{
	width: 240px;
	display: inline-block;
	text-align: left;
}

input{
	text-align: left;
	padding: 10px;
}

#item1{
	grid-row: span 1;
	grid-column: span 1;
	text-align: center;
}

#item2{
	margin-top: 30px;
	grid-row: span 1;
	grid-column: span 1;
	text-align: center;
	
}

#item3{
	grid-column: span 2;
	grid-row: span 2;
	text-align: center;

}

 table, th, td {
  border: 1px solid;
}

td, tr{
	width: 10%
}

button{
	color: #000000
}
